

h1 {
    color: yellow;
    font-family: verdana;
    font-size: 300%;
}

div {
    color: black;
    font-family: verdana;
    font-size: 120%;
}

dd {
    color: black;
    font-family: verdana;
    font-size: 120%;
}

p {
    color: black;
    font-family: verdana;
    font-size: 150%;
}

ddd {
    color: black;
    font-family: verdana;
    font-size: 80%;
}
